#title{

}
#child{
  text-align:center;
}

hr{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width:5px;
  width:5%;
}
.top-container{
  padding-top: 7%;

}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
.nav-item{
  padding: 0 10px;
}
  
  /*details*/
  
#detail{
  text-align: center;
}

#details{
  padding-top: 7%;
  background-color: white;
  font-family: 'Montserrat-Black';
size: 4.5rem;
}
.k9{
  padding-bottom: 7%;
}
.s1{
  position: relative;
  right: 50px;
  bottom: 230px;
}
.s2{
  position: relative;
  right: 95px;
  bottom: 185px;
}
.s3{
  right: 160px;
  position: relative;
  bottom: 75px;
  left: -140px;
}

.w1{
  margin-top:40px;

}

/*testimonials*/

#testimonials{
  text-align: center;
  background-color: #ef8172
}  
  
#love{
  color: #fff;
}

.testiominal-image{
  width: 30%;
  margin: 10px;
}

.testimonial-image1{
    width: 50%;
}
.testimonial-image2{
    width: 30%;
}

#schools{

  font-family: 'Montserrat-Black';
size: 4.5rem;
padding-bottom: 3%;

}
.school{
  padding-top: 4%;
  text-align: center;
}

/*SCHOOL**/
.row{
  padding: 7% 15%;
  text-align: left;
}
.life1{
  padding-bottom: 7%;
}
.k2{
  padding-bottom: 7%;
}
.family{
  padding-bottom: 7%;
}
